* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    width: 100%;
}

main {
    margin-top: 50px;
}

img {
    width: 700px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* HEADER */
header {
    display: flex;
    padding-left: 25px;
    padding-top: 20px;
    text-align: center;
    position: absolute;
    float: left;
}

.logo {
    padding-top: 35px;
}


/* NAVBAR */
nav {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.navbarTop {
    width: max-content;
    padding-left: 250px;
    display: block;
    float: right;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9b3;
}

.navbarTop_Links {
    text-align: center;
    text-transform: uppercase;
}

.navbarTop_Links_Ul {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    float: right;
    justify-content: space-evenly;
}

.navbarTop_Links_Ul li {
    margin-right: 25px;
    color: #979797;
}

.navbarTop_Links_Ul a {
    color: #979797;
}

.navbarTop_Links_Ul a:hover {
    color: green;
    font-weight: bold;
}

.navbarTop_Links_Ul img {
    max-width: 50px;
    min-width: 50px;
}


.navbarBottom {
    display: flex;
    margin-top: 25px;
    padding-left: 35px;
}

.searchbar {
    display: flex;
    background-color: #d9d9d940;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding-left: 15px;

}

.searchbar input {
    background-color: #d9d9d900;
    border: none;
    margin-left: 15px;
    width: 575px;
}

.searchbar img {
    max-width: 17px;
    min-width: 17px;
}

.menuIcon {
    margin-left: 30px;
}


/* MAIN */
.center {
    display: flex; 
    justify-content: center; 
}

.section {
    display: flex;
    flex-direction: column;
}

.section h1 {
    background-color: #2CEF28;
    color: white;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section p {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
}


/* FOOTER */
footer {
    background-color: #2CEF28;
    padding: 20px;
    color: white;
    font-weight: 500;
    list-style: none;
}

.footer1 {
    display: flex;
}

.footer_title {
    font-weight: 300;
    text-decoration: underline;
}

.footer_link {
    margin-bottom: -10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

footer a:hover {
    font-weight: normal;
    text-decoration: underline;
}

.footer_socials {
    margin-left: 100px;
}

.footer_socials p {
    font-weight: 300;
    text-decoration: underline;
}

.footer_socials_icons {
    margin-right: 15px;
}

.footer_socials_icon {
    margin-bottom: 10px;
    display: flex;
}

.icon {
    width: 25px;
    height: 25px;
    margin-top: 15px;
    margin-right: 5px;
}

.footer_logo {
    margin-left: 400px;
}

.footer_logo img {
    width: 150px;
    height: 165px;
}

.footer2 {
    margin-top: 15px;
    border-top: 1px solid white;
    padding-top: 10px;
    text-align: center;
}