* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    height: 100%;
    background-color: #BDFFBC;
}

header {
    padding-left: 25px;
    padding-top: 20px;
}

fieldset {
    border: none;
}

input {
    border: none;
    background-color: #BDFFBC;
    border-bottom: 1px solid #a4a4a4;
    margin-top: 5px;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}


/* HEADER */
.logo{
    width: 300px;
    height: 75px;
}


/* MAIN LEFT */
.main_left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.img {
    height: 450px;
    width: 300px;
}


/* MAIN RIGHT */
.main_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 40px;
}

.main_right_h1 {
    margin-bottom: 15px;
    color: #0B8C0B;
}


/* FORM */
.form_section {
    margin-bottom: 20px;
}

.form_section_input {
    width: 300px;
}

.form_section_btn {
    width: 300px;
    text-align: center;
}

.btn {
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #0B8C0B;
    color: white;
    font-weight: bold;
    text-align: center;
}


/* CTA */
.cta {
    margin-top: 35px;
    width: 300px;
    text-align: center;
    font-weight: 200;
}

.cta_link {
    text-decoration: underline;
    color: black;
}

a:visited {
    color: black;
}