* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    width: 100%;
}

header {
    display: flex;
    padding-left: 20px;
    padding-top: 25px;
    text-align: center;
    position: absolute;
    float: left;
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* NAVBAR */
.navbarTop {
    width: max-content;
    padding-left: 350px;
    display: block;
    float: right;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9b3;
}

.navbarTop_Links {
    text-align: center;
    text-transform: uppercase;
}

.navbarTop_Links_Ul {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    float: right;
    justify-content: space-evenly;
}

.navbarTop_Links_Ul li {
    margin-right: 25px;
}

.navbarTop_Links_Ul img {
    max-width: 50px;
    min-width: 50px;
}


.navbarBottom {
    display: flex;
    margin-top: 25px;
    padding-left: 35px;
}

.searchbar {
    display: flex;
    background-color: #d9d9d940;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding-left: 15px;

}

.searchbar input {
    background-color: #d9d9d900;
    border: none;
    margin-left: 15px;
    width: 670px;
}

.searchbar img {
    max-width: 17px;
    min-width: 17px;
}

.menuIcon {
    margin-left: 30px;
}